@media (min-width: 321px) and (max-width: 350px) {
  .otp-input {
    width: 45px;
    height: 45px;
  }
}

@media (min-width: 351px) and (max-width: 374px) {
  .otp-input {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 375px) and (max-width: 396px) {
  .otp-input {
    width: 53px;
    height: 53px;
  }
}

@media (min-width: 397px) and (max-width: 425px) {
  .otp-input {
    width: 58px;
    height: 58px;
  }
}

@media (min-width: 426px) and (max-width: 639px) {
  .otp-input {
    width: 65px;
    height: 65px;
  }
}
